<div class="row">

    <div class="col-12">

        <div class="container">
            <center><img src="~/Imagem/livro.jpg" alt="livro menu" class="img-fluid" style="width:100%"></center>
        </div>

        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="~/View/Home/Index.cshtml">Inicio <span class="sr-only">(Página atual)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/View/Livro/Index.cshtml">Livro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/View/Aluno/Index.cshtml">Aluno</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/View/Autor/Index.cshtml">Autor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/View/Editora/Index.cshtml">Editora</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/View/Emprestimo/Index.cshtml">Emprestimo</a>
                        </li>


                    </ul>
                </div>
               
            </nav>

        </div>
        












    </div>














</div>